/*CONTAINERS AND FLEX OBJECTS*/
.container {
max-width: 1200px;
margin: 0 auto;
padding-top: 100px;
}
.container-2 {
max-width: 800px;
margin: 0 auto;
padding-top: 100px;
text-align: center;
}
.container-3 {
min-width: 100%;
margin: 0 auto;
padding-top: 100px;
background-color: white;
background-size: 100% 100%;
background-position: fixed;
}
.row {
display: flex;
flex-direction: row;
flex-wrap:nowrap;
padding: 10px;
/*border: 1px solid black;*/
}

.column {
flex-basis: 100%;
justify-content: space-around;
padding: 10px;
/*border: 1px solid black;*/
}
@media screen and (max-width: 44em) {
.column {
  flex: 1;
  justify-content: space-around;
}
}
@media screen and (max-width: 44em) {
  .container {
      flex: 1;
      justify-content: space-around;
  }
}
@media screen and (max-width: 40em) {
  .row {
      flex: 1;
      justify-content: space-around;
      flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
._25 {
  flex: 2.5;
}
._55 {
  flex: 5.5;
}
._20 {
  flex: 2;
}
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*text and body ojects*/
html {
height: 100vh;
background-image: url(http://www.rockoftheearth.com/images/copenhagen.jpg), linear-gradient(white, black);
background-repeat: no-repeat;
background-size: 100% 100%;
background-attachment: fixed;
}
.text-center {
  text-align: center;
}
body {
  font-family: 'Cardo', serif;
  color: black;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 96px;
  text-align: left;
  color: white;
}
@media screen and (max-width: 40em) {
  h1 {
     font-size: 44px;
  }
}
p {
  font-family: 'Josefin Sans', sans-serif;
  color: black;
  font-size: 18px;
}
.centered {
  text-align: center;
}
.box {
width: 300px;
height: 200px;
/*border: 1px solid black;*/
padding: 50px;
margin: 20px;
}
.welcome-section {
height: 100vh;
max-width: 100%;
/*border: 0.5px solid black;*/
}
.box img:hover {
box-shadow: 5px 5px 10px #888888;
}
.projects {
text-align: center;
margin: 0 auto;
background-color: white;
background-size: 100% 100%;
background-attachment: fixed;
}
.project-tile img:hover {
box-shadow: 5px 5px 10px #888888;
}
.mids p{
    font-size: 8px;
}
.mids a{
color: black;
text-decoration: none;
font-size: 18px;
font-family:Arial, Helvetica, sans-serif;
}
/*navigation bar*/
.topnav {
background-color: white;
overflow: hidden;
position: fixed;
top: 0;
left: 0;
width: 100%;
font-family: Arial, Helvetica, sans-serif;
}
.topnav a {
float: right;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 14px;
}
.topnav img {
float: left;
padding-left: 5px;
}
.topnav a:hover {
background-color: #e7e7e7;
color: black;
}
.topnav a.active {
background-color: #e7e7e7;
color: black;
}
@media all and (max-width: 400px) {
.topnav {
    flex-basis: 100%;
    flex-wrap: wrap;
}
}
